<p-fluid>
    <div class="max-w-4xl mx-auto p-6">
        <div class="card flex flex-col gap-6 w-full !p-12 !rounded-[48px]">
            <!-- <app-form-header [formHeaderInfo]="formHeaderInfo()"></app-form-header> -->
            <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
                <!-- Grid Layout -->
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    <!-- First Name -->
                    <div>
                        <label class="form-label" for="firstName">First Name</label>
                        <input type="text" formControlName="firstName" pInputText placeholder="Enter First Name"
                            class="w-full" [ngClass]="{ 'p-invalid': isInvalid('firstName') }" />
                    </div>

                    <!-- Last Name -->
                    <div>
                        <label class="form-label" for="lastName">Last Name</label>
                        <input type="text" formControlName="lastName" pInputText placeholder="Enter Last Name"
                            class="w-full" [ngClass]="{ 'p-invalid': isInvalid('lastName') }" />
                    </div>

                    <!-- Email -->
                    <div>
                        <label class="form-label" for="email">Email<span class="required-asterisk">*</span></label>
                        <input type="email" formControlName="email" pInputText placeholder="Enter Email" class="w-full"
                            [ngClass]="{ 'p-invalid': isInvalid('email') }" />
                        <app-form-error [control]="getControl('email')"
                            [isInvalid]="isInvalid('email')"></app-form-error>
                    </div>

                    <!-- Phone -->
                    <div>
                        <label class="form-label" for="phoneNumber">Phone Number<span
                                class="required-asterisk">*</span></label>
                        <input type="text" formControlName="phoneNumber" pInputText placeholder="Enter Phone Number"
                            class="w-full" [ngClass]="{ 'p-invalid': isInvalid('phoneNumber') }" />
                        <app-form-error [control]="getControl('phoneNumber')"
                            [isInvalid]="isInvalid('phoneNumber')"></app-form-error>
                    </div>

                    <!-- Password -->
                    <div>
                        <label class="form-label" for="password">Password<span
                                class="required-asterisk">*</span></label>
                        <input type="password" formControlName="password" pInputText placeholder="Enter Password"
                            class="w-full" [ngClass]="{ 'p-invalid': isInvalid('password') }" />
                        <app-form-error [control]="getControl('password')"
                            [isInvalid]="isInvalid('password')"></app-form-error>
                    </div>
                    <!-- User type -->
                    <!-- <div>
                    <label for="userType" class="form-label"> User Type<span class="required-asterisk">*</span> </label>
                    <p-select [options]="userTypes" formControlName="userType" placeholder="Select an option"
                        optionLabel="label" optionValue="value" class="w-full"
                        [ngClass]="{ 'ng-invalid ng-dirty': isInvalid('userType') }"></p-select>
                    <app-form-error [control]="getControl('userType')"
                        [isInvalid]="isInvalid('userType')"></app-form-error>
                </div> -->

                    <!-- Address (Full Width) -->
                    <div class="md:col-span-2">
                        <label class="form-label" for="address">Address</label>
                        <app-textarea formControlName="address" maxLength="{{1000}}" placeholder="Enter your address"
                            class="w-full" [ngClass]="{ 'p-invalid': isInvalid('address') }"></app-textarea>
                        <app-form-error [control]="getControl('address')"
                            [isInvalid]="isInvalid('address')"></app-form-error>
                    </div>
                </div>

                <!-- Action Buttons -->
                <div class="flex justify-end gap-3 mt-6">
                    <button pButton type="button" severity="secondary" class="!rounded-xl px-5 py-2"
                        (click)="onCancel()">Back to Login</button>
                    <button pButton type="submit" severity="primary" class="!rounded-xl px-6 py-2">Register</button>
                </div>
            </form>
        </div>
    </div>
</p-fluid>